In [37]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing,neighbors
import pandas as pd
import pickle

In [38]:
df=pd.read_csv('breast-cancer-wisconsin.data')

In [39]:
df.replace('?',-99999,inplace=True) #to make row with missing value an outlier
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclie,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [40]:
df.drop(['id'],1,inplace=True) #irrelavent feild

In [41]:
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclie,bland_chromatin,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [42]:
X=np.array(df.drop('class',1))
y=np.array(df['class'])

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [29]:
clf=neighbors.KNeighborsClassifier()
clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [33]:
with open('breastdata.pickle','wb') as f:
    pickle.dump(clf,f)

In [44]:
pickle_in=open('breastdata.pickle','rb')
clf=pickle.load(pickle_in)

In [45]:
accuracy=clf.score(X_test,y_test)

In [46]:
accuracy

0.9857142857142858

In [49]:
example_measures=np.array([4,2,1,1,1,2,3,2,1])
example_measures=example_measures.reshape(1, -1)

In [52]:
prediction=clf.predict(example_measures)
print(prediction) #2 for benign(non cancerous tumor) 4 for malignant

[2]

In [53]:
example_measures=np.array([[4,2,1,1,1,2,3,2,1],[8,2,1,1,1,2,3,2,1]])
prediction=clf.predict(example_measures)
print(prediction)

[2 2]

In [54]:
#as shown reshaping isnt necessory for more than one samples
#but we cant predict whether it would be 1 or more samples
#so we can reshape regguardless of num of samples

In [55]:
example_measures=np.array([[4,2,1,1,1,2,3,2,1],[8,2,1,1,1,2,3,2,1]])
example_measures=example_measures.reshape(2, -1)#change first parameter to num of samples
prediction=clf.predict(example_measures)
print(prediction)

[2 2]

In [56]:
#now again we cant be sure of num of samples thus we have to manually insert first parameter each time
#we can solve this problem as given below

In [57]:
example_measures=np.array([[4,2,1,1,1,2,3,2,1],[8,2,1,1,1,2,3,2,1]])
example_measures=example_measures.reshape(len(example_measures), -1)#change first parameter to num of samples
prediction=clf.predict(example_measures)
print(prediction)

[2 2]

In [58]:
example_measures=np.array([[4,2,1,1,1,2,3,2,1],[8,2,1,1,1,2,3,2,1],[8,2,1,1,8,2,3,2,8]])
example_measures=example_measures.reshape(len(example_measures), -1)
prediction=clf.predict(example_measures)
print(prediction)

[2 2 4]