In [ ]:
#comparing our algo with scikitlearn for accuracy

In [91]:
import numpy as np
import pandas as pd
import warnings
import random
from collections import Counter
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')

In [92]:
df=pd.read_csv('breast-cancer-wisconsin.data')

In [93]:
df.replace('?',-9999,inplace=True)
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclie,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [94]:
df.drop(['id'],1,inplace=True)

In [95]:
full_data=df.astype(float).values.tolist()
full_data[:5]

In [106]:
random.shuffle(full_data)

In [107]:
#data spliting
test_size=0.2
train_data=full_data[:-int(len(full_data)*test_size)]
test_data=full_data[-int(len(full_data)*test_size):]

In [108]:
train_set={2:[],4:[]}
test_set={2:[],4:[]}

In [109]:
for features in train_data:
    train_set[features[-1]].append(features[:-1])
    
for features in test_data:
    test_set[features[-1]].append(features[:-1])

In [100]:
def k_nearest_neighbor(data,predict,k=5):
    
    distances=[]
    
    for group in data:
        for features in data[group]:
            euclidean_dist=np.linalg.norm(np.array(features)-np.array(predict))
            distances.append([euclidean_dist,group])
            
    votes=[i[1] for i in sorted(distances)[:k]]
    voted_results=Counter(votes).most_common(1)[0][0]
    confidence=Counter(votes).most_common(1)[0][1]/k

    
    return voted_results,confidence

In [113]:
total=0
correct=0

In [116]:
for group in test_set:
    for predict in test_set[group]:
        vote,confidence=k_nearest_neighbor(train_set,predict)
        if vote==group:
            correct+=1
        else:
            print(confidence)
        total+=1

1.0
0.6
1.0
1.0

In [117]:
print(f'Accuracy = {correct/total}')

Accuracy = 0.9712230215827338